$crimson: rgb(215, 4, 102);
$primary: linear-gradient(to right bottom, #43dc54 0%, #0d5b1b 100%);
$back: linear-gradient(to right bottom, #def, #faf);
$white: #ffffff;
$lighter: #dfdfdf;
$lightest: #eeeeee;
$gray: #999;
$border: #0d5b1b;
$purple: #001d6f;
$textColor: #ffffff;
$secondary: #ffffff;
$ticker-gutter: 50vw;
$ticker-width: 200vw;